<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{cfg:(site_title,sys)}</title>
<meta name="keywords" content="{cfg:(keywords,sys)}"/>
<meta name="description" content="{cfg:(description,sys)}"/>
<link rel="stylesheet" type="text/css" href="/common/images/common.css"/>
<link rel="stylesheet" type="text/css" href="/common/images/expand.css"/>
<link rel="stylesheet" type="text/css" href="images/main.css"/>
<link rel="stylesheet" type="text/css" href="images/mall.css"/>
<script src="{cfg:(dirpath,base)}/common.php?app=sys&app_act=web.config&app_ajax=1"></script>
<script src="/common/js/kj.js"></script>
<script src="/common/js/kj.ajax.js"></script>
</head>
<body>
<table align="center" class="tab1">
<tr><td><img src="images/logo.png"><img src="images/tag1.png"></td></tr>
<tr><td style="padding-top:30px">
	<div class="div2">
	<ul>
	{foreach($arr_list as $item)}
	<li onmouseover="kj.addClassName(this,'xsel');" onmouseout="kj.delClassName(this,'xsel');" onclick="thisjs.seltop(this);thisjs.get_area({$item['area_id']},'{$item['area_name']}','{$item['area_childs']}','{$item['area_depth']}' ,true);"><span><img src = "{if(empty($item['area_pic']))}{$temp_url}images/nopic.png{else}{$item['area_pic']}{/if}"></span><h2>{$item['area_name']}</h2></li>
	{/foreach}
	</ul>
	</div>
</td></tr>
<tr><td>
	<div class="div1">
		<ul class="x1" id="id_search_box">
			<input type="text" name="s_key" value="您所在的地区 / 想要找的店名" class="txt1" onkeyup="thisjs.search(this.value);" onfocus="if(this.value=='您所在的地区 / 想要找的店名'){this.value='';};this.style.color='#000';" onblur="if(this.value==''){this.value='您所在的地区 / 想要找的店名';this.style.color='#888';}"><input type="submit" name="btn_ok" value="" class="btn1">
		</ul>
		<ul class="x2" id="id_area_box" style="display:none">
			<li id="id_path" class="y2"></li>
			<li id="id_area_list" class="y1"></li>
		</ul>
		<ul class="x3" id="id_search_list" style="display:none">
		</ul>
	</div>
</td></tr>
</table>
<script>
var thisjs = new function() {
	this.path = [];
	this.pids = [];
	this.city_id = kj.toint('{cfg:(area_city_id,meal)}');
	this.depth = kj.toint('{cfg:(area_depth,meal)}');
	this.search = function(key) {
		if(key == '') {
			kj.obj("#id_search_list").innerHTML = '';
			kj.hide("#id_search_list");
			return;
		}
		kj.show("#id_search_list");
		kj.ajax.get('{fun_get::url(array("app_act"=>"area_search"))}&skey='+key,function(data) {
			var obj_arr = kj.json(data);
			var arr = obj_arr.list;
			html = '';
			for(var i = 0 ; i < arr.length ; i++ ) {
				if(arr[i].type=='shop') {
					html += "<a href='?app_act=shop&id=" + arr[i].shop_id + "'>" + arr[i].shop_name + "<font style='color:#ff0000'>(店)</font></a>";
				} else {
					html += '<a href="javascript:thisjs.set_area(' + arr[i].area_id + ',\'' + arr[i].area_name + '\',\''+arr[i].area_childs+'\',\''+arr[i].area_depth+'\',\''+arr[i].area_pids+'\')">' + arr[i].area_name + "</a>";
				}
			}
			thisjs.pids = obj_arr.pids;
			kj.obj("#id_search_list").innerHTML = html;
		});
	}
	this.set_area = function(id,name,childs,depth,pids) {
		if(kj.toint(childs)<1 || kj.toint(depth)>=this.depth) {
			this.select(id,name);
			return;
		}
		var arr = pids.split(",");
		for(var i = 0 ; i < arr.length ; i++ ) {
			if(arr[i] == this.city_id) {i++;break;}
		}
		var key = '';
		this.path = [];
		for(var i = i ; i < arr.length ; i++ ) {
			key  = 'id_' + arr[i];
			if( key in this.pids) {
				this.path[this.path.length] = {'id':this.pids[key].area_id,'name':this.pids[key].area_name,'childs':this.pids[key].area_childs,'depth':this.pids[key].area_depth};
			}
		}
		kj.hide("#id_search_list");
		this.get_area(id,name,childs,depth);
	}
	this.set_path = function(id) {
		var html = '';
		for(var i = 0 ; i < this.path.length ; i++) {
			html += '<a href="javascript:thisjs.get_area('+this.path[i].id+',\''+this.path[i].name+'\',\''+this.path[i].childs+'\',\''+this.path[i].depth+'\');">' + this.path[i].name + '</a>';
			if(id == this.path[i].id && i < this.path.length-1) {
				for(var j = i+1 ; j < this.path.length ; j++ ) {
					this.path.removeat(j);
				}
				break;
			}
		}
		kj.obj('#id_path').innerHTML = html + "<span onclick='thisjs.back()'>返回</span>";
	}
	this.get_area = function(id,name,childs,depth,istop) {
		kj.hide("#id_search_box");
		kj.show("#id_area_box");
		if(kj.toint(childs) <= 0 || this.depth<=depth) {
			this.select(id,name);
			return;
		}
		if(istop) this.path = [];
		this.path[this.path.length] = {'id':id,'name':name,'childs':childs,'depth':depth};
		this.set_path(id);
		kj.ajax.get('{fun_get::url(array("app_act"=>"area_next"))}&pid='+id,function(data) {
			var arr = kj.json(data);
			var arr_jian = [];
			var arr_j = [];
			var jian,j;
			for(var i = 0 ; i < arr.length ; i++) {
				jian = arr[i].area_jian.substr(0,1);
				if(!(jian in arr_jian)) arr_jian[jian] = [];
				if(arr_j.indexOf(jian)<0) arr_j[arr_j.length] = jian;
				arr_jian[jian][arr_jian[jian].length] = arr[i];
				//html+="<li>"+arr[i].area_name+"</li>";
			}
			var html = "<table>";
			for(i = 0 ; i < arr_j.length ; i++ ) {
				html += '<tr onmouseover="kj.addClassName(this,\'rowsel\')" onmouseout="kj.delClassName(this,\'rowsel\')"><td class="jian" width="30px" valign="top">' + arr_j[i] + '</td><td>';
				for(j = 0 ; j < arr_jian[arr_j[i]].length ; j++ ) {
					html += '<a href="javascript:thisjs.get_area('+arr_jian[arr_j[i]][j].area_id+',\''+arr_jian[arr_j[i]][j].area_name+'\',\''+arr_jian[arr_j[i]][j].area_childs+'\',\''+arr_jian[arr_j[i]][j].area_depth+'\');">' + arr_jian[arr_j[i]][j].area_name + '</a>';
				}
				html += '</td></tr>';
			}
			html += '</table>';
			kj.obj("#id_area_list").innerHTML = html;
		});
	}
	this.back = function() {
		if(this.path.length>1) {
			this.path.removeat(this.path.length-1);
			this.get_area(this.path[this.path.length-1].id,this.path[this.path.length-1].name,this.path[this.path.length-1].childs);
		} else {
			this.back_home();
		}
	}
	this.back_home = function() {
		kj.delClassName('.div2 ul li' , 'xs');
		kj.hide("#id_area_box");
		kj.show("#id_search_box");
	}
	this.seltop = function(o) {
		kj.delClassName('.div2 ul li' , 'xs');
		kj.addClassName(o , 'xs');
	}
	this.select = function(id,name) {
		kj.cookie_set('area_id' , id , 20000 , '');
		kj.cookie_set('area_name' , name , 20000 , '');
		window.location.href = "{cfg:(url,base)}/";
	}
}
</script>
</body>
</html>
