<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{cfg:(site_title,sys)}-购物车</title>
<meta name="keywords" content="{cfg:(keywords,sys)}"/>
<meta name="description" content="{cfg:(description,sys)}"/>
<link rel="stylesheet" type="text/css" href="/common/images/common.css"/>
<link rel="stylesheet" type="text/css" href="/common/images/expand.css"/>
<link rel="stylesheet" type="text/css" href="images/main.css"/>
<link rel="stylesheet" type="text/css" href="images/css.css"/>
<script src="{cfg:(dirpath,base)}/common.php?app=sys&app_act=web.config&app_ajax=1"></script>
<script src="/common/js/kj.js"></script>
<script src="/common/js/kj.ajax.js"></script>
<script src="/common/js/kj.dialog.js"></script>
<script src="/common/js/kj.alert.js"></script>
<script src="/common/js/kj.rule.js"></script>
</head>
<body>
{include(header)}
<script>
	thisdata = [];
</script>
<div class="cartlist mg1">
<form name="frm_main" method="post" action="?app=ajax&app_act=saveorder" onsubmit="return thisjs.save();">
<input type="hidden" name="cart_ids" value="">
	{foreach($cart_list['shop'] as $item=>$shop)}
	{set $total=0}
	<div class="xtitle"><a href="?app_act=shop&id={$shop['info']['shop_id']}">{$shop['info']['shop_name']}</a></div>
	<div style="float:left;width:100%" id="id_shop_{$shop['info']['shop_id']}">
		<div id="id_list_{$shop['info']['shop_id']}">
		<table class="mlist"><tr class="tit"><td class="sort">序号</td><td>菜品</td><td class="num">数量</td><td class="count">金额小计</td><td class="act">操作</td></tr>
		{foreach($shop['cart'] as $key=>$cart)}
		<tr class="x_list1"><td class="sort">{$cart['index']}</td><td>
			{foreach($cart['ids'] as $menu)}
				{$cart_list['menu']['id_'.$menu]['menu_title']}
				<input type="hidden" name="menuprice[]" value="{$cart_list['menu']['id_'.$menu]['menu_price']}">
			{/foreach}
		</td><td>
		<input type="button" name="btn_jian" value="" class="btn_jian" onclick="jscartlist.change_num('#id_num_{$key}',-1);"> <input type="text" name="menunum[]" value="{$cart['num']}" id="id_num_{$key}" class="x_num" onkeyup="jscartlist.change_num('#id_num_{$key}')"> <input type="button" name="btn_jian" value="" class="btn_jia" onclick="jscartlist.change_num('#id_num_{$key}',1);">
		</td><td>￥<span class="menu_price">{$cart_list['menu']['id_'.$menu]['menu_price']*$cart['num']}</span></td><td><img src="images/pic_del.png" onclick="jscartlist.cart_remove(this , {$shop['info']['shop_id']},{$menu})" style="cursor:pointer"></td></tr>
		<script>
			{for($i=0;$i<$cart['num'];$i++)}
			thisdata[thisdata.length] = "{$key}";
			{/for}
		</script>
			{set $total+=$cart['price']}
		{/foreach}
		</table>
		</div>
		<table class="tabact" id="id_score_{$shop['info']['shop_id']}"{if(empty($score_money_scale))}style='display:none'{/if}}>
			<tr><td class="col1">积分抵扣<br>100积分可抵1元</td><td><input type='text' name='score' value="" class="txtbox1 pTxtL100" onblur="jscartlist.score_input({$shop['info']['shop_id']});" onkeyup="jscartlist.score_input({$shop['info']['shop_id']});" id="id_score_input"> × 100&nbsp;&nbsp;您还有 <span class="x_sel3" id="id_my_score">{$score_total}</span> 积分，可抵扣 <span class="x_sel3">{$score_money}</span> 元</td></tr>
		</table>
		<table class="tabact" {if(empty($shop_act))}style='display:none'{/if}}>
			<tr><td class="col1">优惠活动</td><td id="id_act_{$shop['info']['shop_id']}"></td></tr>
		</table>
		<div class="total" id="id_total_{$shop['info']['shop_id']}">
			合计金额：<span class="x_sel1">￥</span><span id="id_shop_total_{$shop['info']['shop_id']}" class="x_sel1">{$total}</span> (菜品金额){if(!empty($addprice))} + <span class="x_sel1">￥{$addprice}</span>(配送费){/if} - <span class="x_sel1"{if(empty($score_money_scale))}style='display:none'{/if}}>￥</span><span id="id_shop_score_{$shop['info']['shop_id']}" class="x_sel1"{if(empty($score_money_scale))}style='display:none'{/if}}>0</span> {if(!empty($score_money_scale))}(积分抵扣)- {/if} <span class="x_sel1">￥</span><span id="id_shop_act_{$shop['info']['shop_id']}" class="x_sel1">0</span> (优惠金额) = <span class="x_sel2">￥</span><span id="id_shop_price_{$shop['info']['shop_id']}" class="x_sel2">{$total}</span>&nbsp;&nbsp;&nbsp;
		</div>
		<div class="scoretotal" style="color:#ff0000;padding-right:10px">
		本次订单可获得：<span id="id_scoreintro_{$shop['info']['shop_id']}">{$total*$money_score}</span> 积分<br><span style="color:#888">(将在订单成交以后送出)</span>
		</div>
	</div>
	{/foreach}
	<table class="tabact">
		<tr><td class="col1" valign="top">配送信息：(<font style="color:#ff0000">*</font>)</td>
		<td id="id_address_info">
		{foreach($this_info["list"] as $item)}
			<table {if($last_area_id==$item['info_id'])}class="x_sel1"{/if} id="id_info_{$item['info_id']}">
				<tr><td style="color:#0099FF" width="150px" valign="top"><label><input name="area_select" type="radio" id="id_info_radior{$item['info_id']}" value="{$item['info_id']}" {if($last_area_id==$item['info_id'])} checked{/if} onclick="jscartlist.infosel(this ,{$item['info_id']});">&nbsp;<span  id="id_info_name{$item['info_id']}">{$item['info_name']}（{$item['info_sex']}）</span></label></td>
				<td valign="top" id="id_info_base{$item['info_id']}">
				{$item['info_area']}&nbsp; — &nbsp;{$item['info_louhao1']}{if(!empty($item['info_company']))} — {$item['info_company']}/{$item['info_depart']}{/if}<br>
				固话：{$item['info_tel']} {if($item['info_telext']!='')}转 {$item['info_telext']}{/if} / 手机：{$item['info_mobile']}
				{set $arr=explode(",",$item["info_area_allid"])}
				{set $dispatch=$dispatch_min_price}
				{foreach($arr as $areaid)}
					{if(isset($areainfo['area']['id_' . $areaid]['dispatch_price']) && $areainfo['area']['id_' . $areaid]['dispatch_price']>0 )} 
					{set $dispatch=$areainfo['area']['id_'.$areaid]['dispatch_price']}
					{/if}
				{/foreach}
				<span class="x_sel2" id="id_dispatch_{$item['info_id']}"><br>起送价：{$dispatch}</span>
				</td>
				<td width="200px" valign="top"><input type="button" name="btnedit[]" value="编辑" class="button4" onclick="jscartlist.info_edit({$item['info_id']});">&nbsp;<input type="button" name="btndel[]" value="删除" class="button4y" onclick="jscartlist.info_del({$item['info_id']});"></td></tr>
			</table>
		{/foreach}
		
			<table {if(count($this_info['list'])<1)}class=" x_sel1"{/if} {if($this_info['isover'])} style='display:none'{/if}>
				<tr><td style="color:#0099FF" width="150px" valign="top"><label><input type="radio" name="area_select" value="0" id="id_new_info_radior"{if(count($this_info['list'])<1)} checked{/if} onclick="jscartlist.infosel(this,'0');" >使用新地址</label></td>
				<td valign="top" id="id_new_infocol">
				<table {if(count($this_info['list'])>0)} style="display:none"{/if} id="id_new_infosel">
				<tr><td>所在区域：<span style="color:#ff0000">*</span></td><td>
					<input type="hidden" name="area_id" id="id_area_id" value="">
					<input type="hidden" name="area_allid" id="id_area_allid" value="">
					<input type="hidden" name="area" id="id_area" value="">
					<select name="info_area_id[]" onchange="jscartlist.changearea(this.value,0);" id="id_area_0">
						<option value=""></option>
					{foreach($areainfo["default"] as $item)}
						<option value="{$item['area_id']}">{$item['area_name']}</option>
					{/foreach}
					</select>
					{for($i=1;$i<$areainfo["depth"];$i++)}
						<select name="info_area_id[]" onchange="jscartlist.changearea(this.value,{$i});" id="id_area_{$i}">
						</select>
					{/foreach}					
					&nbsp;&nbsp;<span class="x_sel2">起送价：</span><span class="x_sel2" id="id_dispatch_0">{$dispatch_min_price}</span>
					</td></tr>
				<tr><td>具体位置：<span style="color:#ff0000">*</span></td><td>
						<input name="louhao1" type="text" maxlength="50" value="" style="width:200px">&nbsp;
						<input name="louhao2" type="hidden" value="">				
				</td></tr>
				<tr><td>收 件 人：<span style="color:#ff0000">*</span></td><td>
					<input name="name" type="text" maxlength="5">
					<label><input name="sex" type="radio" value="先生" checked>先生</label> 
					<label><input type="radio" name="sex" value="小姐">小姐</label><span class="txt_gary"> (如果有同事与您同姓，建议您填全名!)</span>				
				
				</td></tr>
				<tr><td>手机号码：</td><td>
					<input name="mobile" type="text" maxlength="11">
				
				</td></tr>
				<tr><td>固定电话：</td><td>
							  <input name="tel" type="text" maxlength="8" value="八位数字不带区号" onFocus="if(this.value=='八位数字不带区号')this.value='';" onBlur="if(this.value=='')this.value='八位数字不带区号';">
							  <input name="telext" type="text" maxlength="4" style="width:60px" value="分机选填" onFocus="if(this.value=='分机选填')this.value='';" onBlur="if(this.value=='')this.value='分机选填';">
				</td></tr>
				<tr><td>公司部门：</td><td>
					<input name="company" type="text" maxlength="12" value="公司名称-选填"  onFocus="if(this.value=='公司名称-选填')this.value='';" onBlur="if(this.value=='')this.value='公司名称-选填';">
					<input name="depart" type="text" maxlength="5" value="部门-选填"  onFocus="if(this.value=='部门-选填')this.value='';" onBlur="if(this.value=='')this.value='部门-选填';">				
				</td></tr>
				</table>
				</td></tr>
			</table>
			<table class="x_sel1" id="id_edit_infodiv" style="display:none">
				<tr><td style="color:#0099FF" width="150px" valign="top"><input type="radio" name="area_select" id="id_new_edit_radior">编辑信息</td>
				<td valign="top" id="id_info_editcol">
				</td></tr>
				<tr><td style="color:#0099FF" width="150px" valign="top"></td>
				<td valign="top"><input type="button" name="btn_saveinfo" value="保 存" class="button4" onclick="jscartlist.info_save();">&nbsp;&nbsp;<input type="button" name="btn_saveinfo" value="取 消" class="button4x" onclick="jscartlist.info_cancel(true);"></td></tr>
			</table>
		</td>
	</tr></table>
	<table class="tabact" id="id_arrive_{$shop['info']['shop_id']}">
		<tr><td class="col1" valign="top">送餐时间(<font style="color:#ff0000">*</font>)</td>
		<td><select name="arrive">
			<option value="尽快送到">尽快送到</option>
			{foreach($cart_list["arrivetime"] as $item=>$key)}
			<option value="{$item}">{$key}</option>
			{/foreach}
		</select></td></tr>
	</table>
	<table class="tabact" id="id_paymethod_{$shop['info']['shop_id']}">
		<tr><td class="col1" valign="top">支付方式(<font style="color:#ff0000">*</font>)</td>
		<td>
		{if(in_array('afterpayment',$paymethod))}<label><input type="radio" name="paymethod" value="afterpayment" checked>货到付款</label><br>{/if}
		{if(in_array('repayment',$paymethod))}<label><input type="radio" name="paymethod" id="id_repayment" value="repayment"{if($user_repayment<$total)} disabled{/if}>预付款支付</label>&nbsp;&nbsp;<span style="color:#888888">您当前预付款为 {$user_repayment}</span> <span id="id_repayment_beta" style="color:#888888">{if($user_repayment<$total)}不够支付{/if}</span><br>{/if}
		{if(in_array('onlinepayment',$paymethod))}
			{foreach($arr_pay as $item => $key)}
				{if(!empty($key['state']))}
					<label><input type="radio" name="paymethod" value="{$item}">{$key['fields']['title']}</label><br>
				{/if}
			{/if}
		{/if}</td></tr>
	</table>
	<table class="tabact" id="id_ticket_{$shop['info']['shop_id']}">
		<tr><td class="col1" valign="top">索取发票</td>
		<td>
		<select name="ticket" id="id_ticket" style="margin-right:3px; width:252px" onchange="jscartlist.score_refresh(1)">
		{foreach($cart_list["ticket"] as $item=>$key)}
		<option value="{$item}">{$key}</option>
		{/foreach}
		</select></td></tr>
	</table>
	<table class="tabact" id="id_beta_{$shop['info']['shop_id']}">
		<tr><td class="col1" valign="top">备注</td>
		<td><textarea name="beta" cols='50' rows='2' id="id_beta" onkeyup="jscartlist.beta_keyup()"></textarea>&nbsp;还能输入<span style="color:#ff0000" id="id_beta_num">30</span>个字<br>
		{foreach($cart_beta as $item)}
		<a href="javascript:jscartlist.insert_beta('{$item}');" title="点击插入备注">{$item}</a>&nbsp;&nbsp;
		{/foreach}
		</td></tr>
	</table>
	<div class="confirm">
	{if($this_login_user->uid>0)}
		<input type="button" name="btn_ok" value="提交订单" class="button3" onclick="jscartlist.submit();">
	{else}
		<input type="button" name="btn_ok" value="请先登录" class="button3" onclick="jsheader.showlogin();">
	{/if}
	</div>
</form>
</div>
<script src="cartlist.js"></script>
<script>
kj.onload(function(){
	jscartlist.addprice = kj.toint('{$addprice}');
	jscartlist.user_repayment = kj.toint('{$user_repayment}');
	jscartlist.shopid = {$shop['info']['shop_id']};
	jscartlist.ordernum = {if(empty($shop['num']))}0{else}{$shop['num']}{/if};
	jscartlist.shop_minleast = kj.toint("{$shop['info']['shop_dispatch_price']}");
	jscartlist.shop_oneminleast = kj.toint("{$shop['info']['shop_oneminleast']}");
	jscartlist.minleast = jscartlist.shop_minleast;

	jscartlist.score = {$score_total};//当前积分
	jscartlist.act_list = {if(count($shop_act)>0)}{fun_format::json($shop_act)}{else}[]{/if};//时间条件优惠金额
	jscartlist.arealist = {fun_format::json($areainfo["list"])};//json格式，指定id包函的子地区
	jscartlist.areainfo = {fun_format::json($areainfo["area"])};//对应id地区详细信息
	jscartlist.depth = {$areainfo["depth"]};//当前地区深度
	jscartlist.init(thisdata);
	jscartlist.refresh_price();
	jscartlist.info_seldefault('{$areainfo["pids"]}');
	if('{$last_area_id}' != '') {
		jscartlist.infosel(kj.obj("#id_info_radior{$last_area_id}") ,"{$last_area_id}");
	}
	{if($this_login_user->uid<1)}
		jsheader.showlogin();
	{/if}

});
</script>
{include(footer)}
</body>
</html>