.tab1{margin-top:90px}
.div1{float:left;width:760px;padding:20px 25px;-moz-border-radius:5px;-webkit-border-radius:5px;background:url(trans1.png);margin-top:10px}
.div1 ul{float:left;width:760px}
.div1 .x1{border:1px #999999 solid;width:748px;background:#EEEEEE;padding-left:10px}
.div1 .x1 .txt1{border:0;width:690px;height:48px;background:#EEEEEE;font-size:18px;padding:0px;margin:0px;float:left;color:#888}
.div1 .x1 .btn1{width:40px;height:48px;background:url(btn_search2.png) no-repeat center;border:0px;float:left}
.div1 .x2{}
.div1 .x2 li{float:left;width:760px}
.div1 .x2 .y1{background:#fff}
.div1 .x2 .y1 table{float:left;width:100%}
.div1 .x2 .y1 table td{text-align:left;padding:5px 0px}
.div1 .x2 .y1 table .jian{float:left;text-align:center;font-size:16px}
.div1 .x2 .y1 a{float:left;width:auto;margin:0px 5px 10px 5px;font-size:14px}
.div1 .x2 .y1 table a{color:#666;text-decoration:none;white-space:nowrap;}
.div1 .x2 .y1 table .rowsel{}
.div1 .x2 .y1 table .rowsel td{background:#efefef}
.div1 .x2 .y1 table .rowsel .jian{background:#fff}
.div1 .x2 .y1 table .rowsel a{color:#000}
.div1 .x2 .y1 table .rowsel a:hover{color:#ff0000}
.div1 .x2 .y2{background:url(menu_bg1.png);color:#fff;padding:5px 0px 5px 0px}
.div1 .x2 .y2 a{float:left;padding-left:23px;background:url(arrow2.png) no-repeat -19px 0px;height:19px;font-size:16px;margin-right:10px;color:#fff;text-decoration:none}
.div1 .x2 .y2 span{float:right;color:#fff;cursor:pointer;font-size:16px;padding:0px 5px 0px 0px}
.div1 .x3{background:#fff;height:300px;overflow-y:scroll}
.div1 .x3 a{float:left;width:700px;margin:0px 0px 0px 5px;text-decoration:none;font-size:14px;padding:3px 0px 3px 10px}
.div1 .x3 a:hover{background:url(menu_bg1.png);color:#fff}
.div2{float:left;width:804px;overflow:hidden}
.div2 ul{float:left;width:10000px}
.div2 li{float:left;width:101px;padding:10px 12px;text-align:center;margin:0px 5px;}
.div2 span{float:left;width:101px;background:#fff}
.div2 h2{float:left;width:101px;background:url(menu_bg1.png);height:25px;color:#fff;padding:3px 0px 3px 0px;overflow:hidden;font-size:18px}
.div2 img{width:101px;height:101px}
.div2 .xsel{background:url(menu_bg1.png);-moz-border-radius:5px;-webkit-border-radius:5px}
.div2 .xs{background:url(menu_bg1.png);-moz-border-radius:5px;-webkit-border-radius:5px}


.title1{float:left;width:970px;background:#fff;padding:5px 0px 3px 10px;border-bottom:1px #000 solid;color:#333}
.title1 h2{font-weight:200;float:left;}
.title1 .x_sort{float:right;padding:5px 10px 0px 0px}
.title1 .x_sort li{float:left;padding:0px 5px;cursor:pointer}
.title1 .x_sort .xsel{color:#ff8800}
.title1 span{float:left;margin:5px 0px 0px 10px}
.title2{float:left;width:970px;background:#fff;padding:5px 0px 3px 10px;color:#333;background:#fff url(dot1.gif) repeat-x 0px 33px}
.title2 span{float:left;margin:3px 0px 0px 20px;width:83px;height:26px;padding-top:4px;text-align:center;cursor:pointer}
.title2 .xsel{background:url(collectsel.png) no-repeat;color:#fff}

.listall{float:left;width:980px;background:#fff}
.listall table{float:left;margin:10px 0px 20px 0px}
.listall .x1{width:100px;text-align:center;padding-top:10px}
.listall .x1 img{max-width:90px;max-height:90px;_zoom:expression(function(x){if(x.width>90){x.width=90;}if(x.height>90){x.height=90;}}(this));vertical-align:middle}
.listall .x2{float:left;width:140px;font-size:14px;height:145px;overflow:hidden}
.listall .x2 li{float:left;width:140px;margin:0px 0px 10px 0px}
.listall .collect1{float:left;margin:10px 0px 0px 7px}
.listall .collect2{float:left;margin:10px 0px 0px 7px}
.listall .xcancel{float:left;margin:10px 0px 0px 7px;color:#ff0000;cursor:pointer}
.listall .xtit{font-size:14px;font-weight:bold}
.listall .xtit a{color:#333}
.listmore{float:left;width:100%;padding:0px 0px 10px 0px;text-align:center;background:#fff}

.shopinfo{position:absolute;top:0px;left:0px;width:238px}
.shopinfo .box1{float:left;width:230px;padding:4px;background:url(menu_bg1.png)}
.shopinfo ul{float:left;width:220px;padding:5px;background:#fff}
.shopinfo li{float:left;width:220px;margin:5px 0px 5px 0px;backgound:}
.shopinfo .tit1{float:left;width:220px;padding:5px 0px 5px 0px}
.shopinfo .info1{float:left;width:220px;padding:5px 0px 0px 0px;line-height:20px}
.shopinfo .leftx{position:relative;top:50px;left:-9px;width:14px;background:none;height:23px}