{include(header)}
<script src="/common/js/kj.page.js"></script>
	<div class="m_div3">
	尊敬的会员：<font class="txt_orangeB">{$this_login_user->uname}</font> ，您当前预付款为：<font class="txt_redB">￥{$arr_list["repayment"]}</font>
	</div>
	{set $repayment=0}
	{foreach($arr_list["list"] as $item)}
	<div class="m_div4">
		<li class="xtit1">&nbsp;&nbsp;{$item["repayment_addtime"]}</li>
		<li>存入：{if($item["repayment_val"]>0)}+{$item["repayment_val"]}{/if}</li>
		<li>消耗：{if($item["repayment_val"]<0)}{$item["repayment_val"]}{/if}</li>
		<li>结余：{$arr_list["repayment"]-$repayment}</li>
		<li>详情：{$item["beta"]}</li>
		{set $repayment+=$item["repayment_val"]}
	</div>
	{/foreach}
	<div class="pPage" id="id_pPage" style="margin:5px 0px 10px 0px;height:auto">
	{$arr_list['pagebtns']}
	</div>

{include(footer)}